@{
    ViewBag.Title = "供应商管理列表";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    $(function () {
        $.LodeMenuBtn("/RawMaterial/Supplier/Index");
        gridList();
    });
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "@Url.Action("GetGridJson", "Supplier")",
            height: $(window).height() - 178,
            colModel: [
                { label: "主键", name: "ID", hidden: true, key: true },
                { label: '供应商名称', name: 'SupplierName', width: 180, align: 'left', sortable: false },
                { label: "供应商编号", name: "SupplierCode", width: 150, align: 'left', sortable: false },
                { label: '供应商地址', name: 'SupplierAdd', width: 150, align: 'left', sortable: false },
                { label: '录入人', name: 'InsertUserCode', hidden: true },
                { label: '录入人', name: 'InsertUserName', width: 100, align: 'left', sortable: false },
                { label: '录入时间', name: 'InsertTime', width: 200, align: 'left', sortable: false }
            ],
            ondblClickRow: function (id) {//双击
                btn_details();
            },
            pager: "#gridPager",
            viewrecords: true,
            shrinkToFit: false,
        });
        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: $(".search").formSerialize(),
                page: 1
            }).trigger('reloadGrid');
        });

        //回车查询
        document.onkeydown = function (e) {
            if (!e) e = window.event;
            if ((e.keyCode || e.which) == 13) {
                $('#btn_search').trigger("click");
            }
        }
    }
    function btn_add() {
        var where = "?type=add";
        CommonOpen("Form", "新增供应商信息", "@Url.Action("Form", "Supplier")" + where, true, true)
    }
    function btn_edit() {
        CommonView({
            id: "Form",
            title: "修改供应商",
            url: "@Url.Action("Form", "Supplier")",
            anyUrl: "@Url.Action("AnyInfo", "Supplier")",
        });
    }
    function btn_delete() {
        CommonView({
            url: "@Url.Action("DeleteForm", "Supplier")",
            anyUrl: "@Url.Action("AnyInfo", "Supplier")",
            isdel: true,
        });
    }
    function btn_details() {
        CommonView({
            id: "Details",
            title: "查看供应商",
            url: "@Url.Action("Details", "Supplier")",
            isbtn: false,
            isAny: false,
            isBack: false
        });
    }

    function CommonOpen(id, title, url, isbtn, isBack) {
        $.modalOpen({
            id: id,
            title: title,
            url: url,
            width: "40%",
            height: "400px",
            btn: isbtn ? ['确认', '关闭'] : null,
            callBack: isBack ? function (iframeId) {
                top.frames[iframeId].submitForm();
            } : null
        });
    }
</script>

<div class="ui-layout-center">
    <div class="topPanel">
        <div class="topPanel-btn" id="toolbar">
            <div class="btn-group">
                <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span>刷新</a>
            </div>
        </div>
    </div>
    <div class="topPanel">
        <div class="search">
            <table>
                <tr>
                    <td>
                        <div class="input-group input-group-search">
                            <input id="SupplierName" type="text" placeholder="供应商名称" class="form-control">
                        </div>
                    </td>
                    <td>
                        <div class="btn-search">
                            <a class="btn btn-primary" id="btn_search">查询</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="gridPanel">
        <table id="gridList"></table>
        <div id="gridPager"></div>
    </div>
</div>
