@{
    ViewBag.Title = "机械费用核算编辑";
    Layout = "~/Views/Shared/_Form.cshtml";
}


<script src="~/Content/js/Comm.js"></script>
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/js/uploadFile.js"></script>
<style type="text/css">
    .ui-jqgrid .table-bordered th {
        border-left: 0px none !important;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: normal;
        background: #eee;
        border: 1px solid #ddd;
        vertical-align: middle;
    }
</style>
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    var type = $.request("type");
    $(function () {
        //选择框样式调整
        $(".input-group-btn").each(function () {
            $(this).parent().parent().css("padding-right", "0px");
            $(this).css("padding-left", "8px");
            $(this).find("i").css("padding-bottom", "8px").css("padding-top", "8px");
        });

        gridList();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "MachineCost")",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data.Item1[0]);
                    if ($("#Enclosure").val()) {
                        $("#uplaodFileTitle").html("已上传");
                        $("#uplaodFilelook").show();
                    }
                    lodeList(data.Item2);
                }
            });
        }
    });

    //订单选择
    function selectOrder() {
        var url = '/Production/ProblemOrder/GetOrderGridJson&keyValue=IsCost/true';
        var ret = selectClick('win_ProblemOrder_Order', url, 'Grid', 'InsertTime', '', '', '550px', '450px', function (data) {
            
        })
    }
    //提交数据
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var tableData = [];
        var tableData = GetGridRowData();
        if (tableData.length < 1) {
            return false;
        }
        var formData = $("#form1").formSerialize();
        formData.ProjectId = $("#ProjectId").val();
        if (!formData.ID && formData.ID == 0 && formData.ID == "") {
            formData.ID = 0;
        }
        $.submitForm({
            url: "@Url.Action("SubmitForm", "MachineCost")",
            param: { model: JSON.stringify(formData), itemModel: JSON.stringify(tableData), type: type },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

</script>

<!---------明细列表------->
<script type="text/javascript">

    var mydata = [];
    var index = 1;
    var lastsel;
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            datatype: "json",
            height: $(window).height() - 200,
            colModel: [
                { label: "主键", name: "ID", hidden: true },
                { label: "设备编号", name: "DeviceCode", hidden: true },
                { label: '设备名称', name: 'DeviceName', width: 120, height: 10, align: "left", sortable: false},
                { label: '开始时间', name: 'StartTime', width: 120, height: 10, align: "left", sortable: false, editable: true },
                { label: '结束时间', name: 'EndTime', width: 120, height: 10, align: "left", sortable: false, editable: true },
                { label: '数量', name: 'OilSauce', width: 80, align: "left", sortable: false, editable: true },
                { label: '单价', name: 'OilPrice', width: 80, align: "left", sortable: false, editable: true },
                { label: '金额', name: 'OilAmount', width: 120, align: "left", sortable: false },
                { label: '数量', name: 'ElectricSauce', width: 80, align: "left", sortable: false, editable: true },
                { label: '单价', name: 'ElectricPrice', width: 80, align: "left", sortable: false, editable: true },
                { label: '金额', name: 'ElectricAmount', width: 120, align: "left", sortable: false },
                { label: '折旧费用', name: 'DepreciationCost', width: 80, align: "left", sortable: false, editable: true },
                { label: '费用合计', name: 'TotalPrice', width: 80, align: "left", sortable: false },
            ],
            gridComplete: function () {
                $(".ui-jqgrid-bdiv").css("overflow-x", "hidden");
                $("div.unwritten").remove();
            },
            onCellSelect: function (rowid, iCol, cellContent, e) {
                //获取表格最后一行Id
                var selectedRowIds = $gridList.jqGrid("getDataIDs");
                var id = selectedRowIds[selectedRowIds.length - 1];
                if (rowid && (rowid !== lastsel || rowid == id)) {

                    $gridList.jqGrid('saveRow', lastsel);
                    $gridList.jqGrid('editRow', rowid, true, null, null, null, null, null, null, null, iCol);

                    lastsel = rowid;

                    $("#gridList>tbody").find("input:text").each(function () {
                        var width = parseInt($(this).css("width").replace('px', '')) - 25;
                        $(this).css("height", "20px").css("width", width + "px");
                    });
                }
                valid(rowid);
            }
        });
        $("#gridList").jqGrid('setGroupHeaders', {
            useColSpanStyle: true,
            groupHeaders: [
            { startColumnName: 'OilSauce', numberOfColumns: 3, titleText: '油耗' },
            { startColumnName: 'ElectricSauce', numberOfColumns: 3, titleText: '耗电' }
            ]
        });
    }
    //批量添加
    function btn_add() {
        var url = "/CostManage/MachineCost/GetEquipmentRegisterList";
        var ret = selectClick('win_EquipmentRegister', url, 'Grid', '', '', '', '550px', '450px', function (data) {
            if (data.length > 0) {
                AllMyBack(data);
            }
        },true)
    }
    //批量添加回调函数
    function AllMyBack(row) {
        var rowData = [];
        if (row && row.length > 0) {
            for (var i = 0; i < row.length; i++) {
                var mydata = {
                    DeviceCode: row[i].EquimentCode,
                    DeviceName: row[i].EquimentName
                };
                rowData.push(mydata);
            }
        }
        lodeList(rowData);
    }
    //删除行
    function btn_delete() {
        var rowId = $("#gridList").jqGrid('getGridParam', 'selrow');
        if (!rowId) {
            $.modalMsg("请选择数据", "warning");
            return false;
        }
        $("#gridList").jqGrid('delRowData', rowId);
    }
    //加载列表数据
    function lodeList(data) {
        if (data != null && data != "") {
            mydata = data;
        }
        $("#gridList").jqGrid('clearGridData');
        $.each(mydata, function (i, item) {
            index++;
            item.id = index;
            $("#gridList").jqGrid('addRowData', index, item);
        });
    }
    //获取表格数据
    function GetGridRowData() {
        $("#gridList").jqGrid('saveRow', lastsel);
        var ids = $("#gridList").jqGrid('getDataIDs');
        if (ids.length < 1) {
            $.modalMsg("明细数据不完整", "warning");
            return null;
        }
        var CheckCode = $("#CheckCode").val();
        var columnData = [];
        var sumCount = 0;
        $(ids).each(function (index, yu) {
            var rowData = $("#gridList").jqGrid("getRowData", yu);
            rowData.ID = 0;
            rowData.CheckCode = CheckCode;
            var count = parseFloat(rowData.TotalPrice);
            if (isNaN(count)) {
                $.modalMsg("明细数据不完整", "warning");
                columnData = [];
                return false;
            }
            columnData.push(rowData);
            sumCount += count;
        });
        $("#TotalAmount").val(sumCount.toFixed(5))
        return columnData;
    }
    /*JQuery 限制文本框只能输入数字和小数点*/
    function valid(rowid) {
        bindText("#" + rowid + "_OilSauce", false);
        bindText("#" + rowid + "_OilPrice", true);
        bindText("#" + rowid + "_ElectricSauce", false);
        bindText("#" + rowid + "_ElectricPrice", true);
        bindText("#" + rowid + "_DepreciationCost", true);
        $("#" + rowid + "_StartTime").focus(function () {
            WdatePicker({
                readOnly: true,
                dateFmt: 'yyyy-MM-dd HH:mm:ss',
                maxDate: '#F{$dp.$D(\'' + rowid + '_EndTime\')}'
            });
        });
        $("#" + rowid + "_EndTime").focus(function () {
            WdatePicker({
                readOnly: true,
                dateFmt: 'yyyy-MM-dd HH:mm:ss',
                minDate: '#F{$dp.$D(\'' + rowid + '_StartTime\')}'
            });
        });
    }
    function bindText(id,isf) {
        $(id).keyup(function () { regTextBox(this, isf); })
             .bind("paste", function () { regTextBox(this, isf); })
             .blur(function () { Compute($(this).parent().parent()) });
    }
    function regTextBox(obj, isf) {
        var reg = /^[0-9]*[1-9][0-9]*$/;
        if (isf) { reg = /\d+\.?\d{0,5}/; }
        var reg = $(obj).val().match(reg);
        var txt = '';
        if (reg != null) { txt = reg[0]; }
        $(obj).val(txt);
    }
    function Compute(obj) {
        var OilSauce = $(obj.children()[6]).children();//数量(油)
        var OilPrice = $(obj.children()[7]).children();//单价(油)
        var OilAmount = $(obj.children()[8]);//金额(油)
        var ElectricSauce = $(obj.children()[9]).children();//数量(电)
        var ElectricPrice = $(obj.children()[10]).children();//单价(电)
        var ElectricAmount = $(obj.children()[11]);//金额(电)
        var DepreciationCost = $(obj.children()[12]).children();//折旧费用
        var Total = $(obj.children()[13]);//费用合计
        //金额(油)
        var OilTotal = (parseFloat($(OilSauce).val()) * parseFloat($(OilPrice).val())).toFixed(5);
        if (!isNaN(OilTotal)) { $(OilAmount).html(OilTotal); };
        //金额(电)
        var ElectricTotal = (parseFloat($(ElectricSauce).val()) * parseFloat($(ElectricPrice).val())).toFixed(5);
        if (!isNaN(ElectricTotal)) { $(ElectricAmount).html(ElectricTotal); };
        //费用合计
        var money = (parseFloat(OilTotal) + parseFloat(ElectricTotal) + parseFloat($(DepreciationCost).val())).toFixed(5);
        if (!isNaN(money)) { $(Total).html(money); };
    }
</script>
<!---------附件列表------->
<script type="text/javascript">
    //上传附件
    function Uplaod() {
        UplaodFile($("#Enclosure").val(), $("#ID").val(), "MachineCost");
    }
    //查看附件
    function uplaodFilelook() {
        showFile($("#Enclosure").val(), "form", "MachineCost");
    }
    //$(function () {
    //    //加载附件列表
    //    AttachmentList();
    //});

    ////加载附件列表
    //function AttachmentList() {
    //    $("#AttachmentList").dataGrid({
    //        url: "/Attachment/GetAttachmentJson?FileID=" + $("#Enclosure").val(),
    //        height: $(window).height() - 160,
    //        colModel: [
    //            { label: "附件名称", name: "FileName", width: 250, align: 'left', formatter: defaultformatterNameC },
    //            { label: '附件大小', name: 'FileSize', width: 150, align: 'left', sortable: false },
    //            { label: '上传人', name: 'UserName', width: 120, align: 'left', sortable: false },
    //            { label: '上传时间', name: 'LastTime', width: 120, align: 'left', sortable: false },
    //            { label: '地址', name: 'FileStoragePath', width: 150, align: 'left', hidden: true, sortable: false },
    //            { label: '操作', name: 'FileID', width: 100, align: 'left', sortable: false, formatter: defaultformatterC },
    //            { label: "主键", name: "FileID", hidden: true, key: true }
    //        ],
    //        multiselect: true,
    //        gridComplete: function (id) {
    //            $("#AttachmentList>tbody").find("input:checkbox").each(function () {
    //                $(this).parent().css("padding-top", "8px").css("padding-left", "14px");
    //            });
    //            $(".ui-jqgrid-bdiv").css("overflow-x", "hidden");
    //        }
    //    });
    //}

    function selectTab(v) {
        var id = v.attr('id');
        if (id != "JBXX") {
            if (!$('#form1').formValid()) {
                return false;
            }
        }
        else {
            GetGridRowData();
        }
        $("#" + id + "").addClass("active").siblings().removeClass("active");
        $("#" + id + "Info").show();
        $("#" + id + "Info").siblings('div').hide();
    }

</script>

<div style="margin-top: 10px;">
    <ul class="nav nav-tabs">
        <li id="JBXX" onclick="selectTab($(this))" class="active"><a href="javascript:void(0);">基本信息</a></li>
        <li id="ItemXX" onclick="selectTab($(this))"><a href="javascript:void(0);">明细信息</a></li>
        @*<li id="FJXX" onclick="selectTab($(this))"><a href="javascript:void(0);">附件信息</a></li>*@
    </ul>
    <div id="JBXXInfo" style="padding-top: 5px; margin-right: 30px; margin-left: 10px;">
        <form id="form1">
            <input id="ID" name="ID" type="hidden" />
            <input id="Examinestatus" name="Examinestatus" type="hidden" />
            <input id="Enclosure" name="Enclosure" type="hidden" />
            <input id="ProjectId" name="ProjectId" type="hidden" />
            <table class="form">
                <tr>
                    <th class="formTitle">核算编号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="CheckCode" name="CheckCode" type="text" value="@ViewBag.CheckCode" disabled="disabled" class="form-control required" />
                    </td>
                    <th class="formTitle">订单编号<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="OrderCode" name="OrderCode" type="text" readonly="readonly" class="form-control required">
                            <span class=" input-group-btn" onclick="selectOrder();">
                                <a style="padding: 0px;" class=" btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">类型编号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="TypeCode" name="TypeCode" type="text" disabled="disabled" class="form-control required">
                    </td>
                    <th class="formTitle">类型名称<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="TypeName" name="TypeName" type="text" disabled="disabled" class="form-control required">
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">加工厂名称<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="ProcessFactoryCode" name="ProcessFactoryCode" type="hidden">
                        <input id="ProcessFactoryName" name="ProcessFactoryName" type="text" disabled="disabled" class="form-control required">
                    </td>
                    <th class="formTitle">站点名称<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="SiteCode" name="SiteCode" type="hidden">
                        <input id="SiteName" name="SiteName" type="text" disabled="disabled" class="form-control required">
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">使用部位<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="UsePart" name="UsePart" type="text" disabled="disabled" class="form-control required">
                    </td>
                    <th class="formTitle">机械费用合计<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="TotalAmount" name="TotalAmount" type="text" value="0" disabled="disabled" class="form-control required">
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">附件</th>
                    <td class="formValue" colspan="3">
                        <span id="uplaodFileTitle" class="Isfile">未上传</span>
                        <a class="layui-layer-btn0 btn btn-primary" id="uplaodFile" onclick="Uplaod();">上传</a>
                        <a class="layui-layer-btn0 btn btn-primary" id="uplaodFilelook" onclick="uplaodFilelook();" style="display:none;">查看</a>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">备注</th>
                    <td class="formValue" colspan="3">
                        <textarea id="Remark" name="Remark" class="form-control" style="height: 60px; padding-right: 2px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">录入人</th>
                    <td class="formValue">
                        <input id="UserName" name="UserName" type="text" value="@ViewBag.UserName" disabled="disabled" class="form-control" />
                    </td>
                    <th class="formTitle">录入时间</th>
                    <td class="formValue">
                        <input id="InsertTime" name="InsertTime" type="text" value="@(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))" disabled="disabled" class="form-control" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="ItemXXInfo" style="padding-top: 5px; display: none; margin:10px; overflow-x: scroll; ">
        <div class="toolbar">
            <div class="btn-group">
                <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
            </div>
            <div class="btn-group">
                <a id="NF-delete" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a>
            </div>
        </div>
        <div class="gridPanel" style="margin-top: 1px; ">
            <table id="gridList"></table>
        </div>
    </div>
    @*<div id="FJXXInfo" style="padding-top: 5px; display: none; margin: 10px; overflow-x: scroll; ">
        <div class="toolbar">
            <div class="btn-group">
                <a id="PM-fileUplode" authorize="yes" class="btn btn-primary dropdown-text" onclick="CommonUpload()"><i class="fa fa-arrow-up"></i>上传</a>
            </div>
            <div class="btn-group">
                <a id="PM-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="CommonDownload()"><i class="fa fa-arrow-down"></i>下载</a>
            </div>
            <div class="btn-group">
                <a id="PM-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="CommonDeleteFile()"><i class="fa fa-remove "></i>删除</a>
            </div>
        </div>
        <div class="gridPanel" style="margin-top:1px;">
            <table id="AttachmentList"></table>
        </div>
    </div>*@
</div>

