@{
    ViewBag.Title = "资料归档分类添加/修改页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="/Content/js/Comm.js"></script>
<script src="/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="/Content/js/jqgrid/grid.locale-cn.js"></script>
<script src="/Content/js/uploadFile.js"></script>
<style>
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 102% !important;
    }
</style>
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    var type = $.request("type");
    $(function () {
        //选择框样式调整
        $(".input-group-btn").each(function () {
            $(this).parent().parent().css("padding-right", "0px");
            $(this).css("padding-left", "8px");
            $(this).find("i").css("padding-bottom", "8px").css("padding-top", "8px");
        });
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/DataManage/FileType/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data.Item1[0]);
                    if ($("#Enclosure").val()) {
                        $("#uplaodFileTitle").html("已上传");
                        $("#uplaodFilelook").show();
                    }
                }
            });
        }
    });

    function initControl() {
        //资料类别下拉列表框查询
        $("#TypeNameSelected").bindSelect({
            url: "/SystemManage/DataDictionary/GetDicByCode?dicCode=TypeName",
            id: "DictionaryText",
            text: "DictionaryText"
        });

        //资料类别下拉列表框值改变事件
        $("#TypeNameSelected").change("bind", function () {
            var TypeNameSelectd = $(this).find("option:selected").val();
            $("#TypeName").val(TypeNameSelectd);
        })

        if (type == "add") {
            //查询当前登录人员下的加工厂信息
            $.getJSON('/DataManage/FileType/ProcessFactoryNameSelect', { UserCode: '@ViewBag.InsertUserCode' }, function (data) {
                if (data) {
                    $("#ProcessFactoryCode").val(data[0].ProcessFactoryCode);
                    $("#ProcessFactoryName").val(data[0].UserCode);
                }
            })
        }
    }

    //提交数据
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var paramData = {};
        var tableData = {};
        var formData = $("#form1").formSerialize();
        if (!formData.ID && formData.ID == 0 && formData.ID == "") {
            formData.ID = 0;
        }
        $.submitForm({
            url: "/DataManage/FileType/SubmitForm" + "?type=" + type,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
    //选择加工厂
    function selectCompanyProcessFactory(type) {
        var orgtype = '@ViewBag.OrgType';
        if (orgtype != "1") {
            var url = "/RawMaterial/RawMonthDemandPlan/GetCompanyList&keyValue=type/" + type;
            var str = "ProcessFactoryCode=CompanyCode,ProcessFactoryName=CompanyFullName";
            var ret = selectClick('win_TbCompany', url, 'Grid', '', '', str, '550px', '450px', function () {
            });
        }
    }
</script>

<!---------附件列表------->
<script type="text/javascript">
    //上传附件
    function Uplaod() {
        UplaodFile($("#Enclosure").val(), $("#ID").val(), "FileType");
    }
    //查看附件
    function uplaodFilelook() {
        showFile($("#Enclosure").val(), "form", "FileType");
    }

</script>


<div style="margin-top: 10px;">
    <div id="JBXXInfo" style="padding-top: 5px;margin-right:20px;">
        <form id="form1">
            <input id="ID" name="ID" type="hidden" />
            <input id="Enclosure" name="Enclosure" type="hidden" />
            <table class="form">
                <tr>
                    <th class="formTitle">资料编号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="DataCode" name="DataCode" type="text" disabled="disabled" class="form-control required" value="@ViewBag.DataCode " />
                    </td>
                    <th class="formTitle">资料名称<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="DataName" name="DataName" type="text" class="form-control required" placeholder="资料名称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">资料类别<span class="required1">*</span></th>
                    <td class="formValue">
                        <select id="TypeNameSelected" name="TypeNameSelected" class="form-control required">
                            <option></option>
                        </select>
                        <input id="TypeName" name="TypeName" type="hidden" />
                    </td>
                    <th class="formTitle">文件编号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="FileCode" name="FileCode" type="text" class="form-control required" placeholder="文件编号" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">加工厂名称<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="ProcessFactoryCode" name="ProcessFactoryCode" hidden="hidden" value="@ViewBag.ProcessFactoryCode" />
                            <input id="ProcessFactoryName" name="ProcessFactoryName" type="text" value="@ViewBag.ProcessFactoryName" readonly="readonly" class="form-control required" />
                            <span class="input-group-btn" onclick="selectCompanyProcessFactory('1')">
                                <a style="padding:0px;" class=" btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                    <th class="formTitle">所属部门<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="DepartmentCode" name="DepartmentCode" type="hidden" />
                            <input id="DepartmentProjectId" name="DepartmentProjectId" type="hidden" />
                            <input id="DepartmentName" name="DepartmentName" readonly="readonly" type="text"
                                   class="form-control required" placeholder="所属部门" />
                            <span id="ProcessFactoryName" class="input-group-btn" onclick="selectClick('win_Department', '/DataManage/FileType/GetDepartmentCodeJson', 'Grid', 'DepartmentCode', '', 'DepartmentCode,DepartmentName,DepartmentProjectId', '50%', '450px')">
                                <a style="padding: 0px;" class=" btn btn-primary">
                                    <i style="padding-bottom:8px;padding-top:8px;" class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">内容摘抄</th>
                    <td class="formValue" colspan="3">
                        <textarea id="DataContent" name="DataContent" class="form-control" style="height: 120px; padding-right:2px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">附件</th>
                    <td class="formValue" colspan="3">
                        <span id="uplaodFileTitle" class="Isfile">未上传</span>
                        <a class="layui-layer-btn0 btn btn-primary" id="uplaodFile" onclick="Uplaod();">上传</a>
                        <a class="layui-layer-btn0 btn btn-primary" id="uplaodFilelook" onclick="uplaodFilelook();" style="display:none;">查看</a>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">录入人</th>
                    <td class="formValue">
                        <input id="InsertUserCode" name="InsertUserCode" value="@ViewBag.InsertUserCode" type="hidden" />
                        <input id="InsertUserName" name="InsertUserName" type="text" value="@ViewBag.InsertUserName" readonly="readonly" class="form-control" />
                    </td>
                    <th class="formTitle">录入时间</th>
                    <td class="formValue">
                        <input id="InsertTime" name="InsertTime" type="text" value="@(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))" readonly="readonly" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">备注</th>
                    <td class="formValue" colspan="3">
                        <textarea id="Remark" name="Remark" class="form-control" style="height: 70px; padding-right:2px;"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    @*<div id="FJXXInfo" style="padding-top: 5px; padding-left: 10px; display: none; overflow-x: scroll;">
            <div class="toolbar">
                <div class="btn-group">
                    <a id="PM-fileUplode" authorize="yes" class="btn btn-primary dropdown-text" onclick="CommonUpload()"><i class="fa fa-arrow-up"></i>上传</a>
                </div>
                <div class="btn-group">
                    <a id="PM-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="CommonDownload()"><i class="fa fa-arrow-down"></i>下载</a>
                </div>
                <div class="btn-group">
                    <a id="PM-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="CommonDeleteFile()"><i class="fa fa-remove "></i>删除</a>
                </div>
            </div>
            <div class="gridPanel" style="margin-top:1px;">
                <table id="AttachmentList"></table>
            </div>
        </div>*@
</div>

