@{
    ViewBag.Title = "车辆信息编辑";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/Content/js/Comm.js"></script>
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
<style>
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 102% !important;
    }
</style>
<script type="text/javascript">
    var keyValue = $.request("keyValue");
    var type = $.request("type");
    $(function () {
        //选择框样式调整
        $(".input-group-btn").each(function () {
            $(this).parent().parent().css("padding-right", "0px");
            $(this).css("padding-left", "8px");
            $(this).find("i").css("padding-bottom", "8px").css("padding-top", "8px");
        });
        initControl();
        gridList();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetFormJson", "CarInfo")",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data.Item1[0]);
                    $("#CarBxEndData").val(fdate($("#CarBxEndData").val()));
                    $("#CarNjEndData").val(fdate($("#CarNjEndData").val()));
                    lodeList(data.Item2);
                }
            });
        }
        $("#CarBxEndData").click(function () {
            WdatePicker({
                readOnly: true,
                dateFmt: 'yyyy-MM-dd ',
            });
        });
        $("#CarNjEndData").click(function () {
            WdatePicker({
                readOnly: true,
                dateFmt: 'yyyy-MM-dd ',
            });
        });
    });

    function initControl() {
        //车辆使用状态
        $("#CarStartName").bindSelect({
            url: "@Url.Action("GetDicByCode", "DataDictionary", new { area = "SystemManage", dicCode = "CarInfo" })",
            id: "DictionaryText",
            text: "DictionaryText"
        });
    }
    //供应商选择
    function selectSupplier() {
        var url = "/RawMaterial/InOrder/GetSupplierGridJson";
        var ret = selectClick('win_Supplier', url, 'Grid', '', '', '', '550px', '450px', function () {
        })
    }
    //选择加工厂
    function selectCompanyProcessFactory(type) {
        var url = "/RawMaterial/RawMonthDemandPlan/GetCompanyList&keyValue=type/" + type;
        var str = "ProcessFactoryCode=CompanyCode,ProcessFactoryName=CompanyFullName";
        var ret = selectClick('win_TbCompany', url, 'Grid', '', '', str, '550px', '450px', function () {
        });
    }
    //提交数据
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var tableData = [];
        var tableData = GetGridRowData();
        if (tableData.length < 1) {
            return false;
        }
        var formData = $("#form1").formSerialize();
        if (!formData.ID && formData.ID == 0 && formData.ID == "") {
            formData.ID = 0;
        }
        $.submitForm({
            url: "@Url.Action("SubmitForm", "CarInfo")",
            param: { model: JSON.stringify(formData), itemModel: JSON.stringify(tableData), type: type },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

</script>

<!---------明细列表------->
<script type="text/javascript">

    var index = 1;
    var lastsel;
    var mydata = [
                  {
                      id: index
                      , UserCode: ""
                      , UserName: ""
                      , SFZCode: ""
                      , Tel: ""
                      , XszCode: ""
                  }
    ];
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            datatype: "json",
            height: $(window).height() - 160,
            colModel: [
                { label: "主键", name: "ID", hidden: true },
                { label: '驾驶员编号', name: 'UserCode', width: 150, height: 10, align: "left", sortable: false, editable: true },
                { label: '驾驶员名称', name: 'UserName', width: 150, height: 10, align: "left", sortable: false },
                { label: '身份证号', name: 'SFZCode', width: 180, align: "left", sortable: false },
                { label: '联系电话', name: 'Tel', width: 150, align: "left", sortable: false },
                { label: '驾驶证号', name: 'XszCode', width: 150, align: "left", sortable: false, editable: true },
            ],
            gridComplete: function () {
                $(".ui-jqgrid-bdiv").css("overflow-x", "hidden");
                $("div.unwritten").remove();
            },
            onCellSelect: function (rowid, iCol, cellContent, e) {
                //获取表格最后一行Id
                var selectedRowIds = $gridList.jqGrid("getDataIDs");
                var id = selectedRowIds[selectedRowIds.length - 1];
                if (rowid && (rowid !== lastsel || rowid == id)) {

                    $gridList.jqGrid('saveRow', lastsel);
                    $gridList.jqGrid('editRow', rowid, true, null, null, null, null, null, null, null, iCol);
                    lastsel = rowid;

                    $("#gridList>tbody").find("input:text").each(function () {
                        var width = parseInt($(this).css("width").replace('px', '')) - 25;
                        $(this).css("height", "20px").css("width", width + "px");
                    });
                }
                valid(rowid);
            }
        });
    }

    //添加行
    function btn_add() {
        index++;
        var data = {
            id: index
             , UserCode: ""
             , UserName: ""
             , SFZCode: ""
             , Tel: ""
             , XszCode: ""
        }
        $("#gridList").jqGrid('addRowData', index, data);
    }
    //删除行
    function btn_delete() {
        var rowId = $("#gridList").jqGrid('getGridParam', 'selrow');
        if (!rowId) {
            $.modalMsg("请选择数据", "warning");
            return false;
        }
        $("#gridList").jqGrid('delRowData', rowId);
    }
    //加载列表数据
    function lodeList(data) {
        if (data != null && data != "") {
            mydata = data;
        }
        $("#gridList").jqGrid('clearGridData');
        $.each(mydata, function (i, item) {
            index++;
            item.id = index;
            $("#gridList").jqGrid('addRowData', index, item);
        });
    }
    //获取表格数据
    function GetGridRowData() {
        $("#gridList").jqGrid('saveRow', lastsel);
        var ids = $("#gridList").jqGrid('getDataIDs');
        if (ids.length < 1) {
            $.modalMsg("明细数据不完整", "warning");
            return null;
        }
        var carCode = $("#CarCode").val();
        var columnData = [];
        $(ids).each(function (index, yu) {
            var rowData = $("#gridList").jqGrid("getRowData", yu);
            rowData.ID = 0;
            rowData.CarCode = carCode;
            if (rowData.XszCode == "") {
                $.modalMsg("明细数据不完整", "warning");
                columnData = [];
                return false;
            }
            columnData.push(rowData);
        });
        return columnData;
    }
    /*JQuery 限制文本框*/
    function valid(rowid) {
        $("#" + rowid + "_UserCode").focus(function () {
            $(this).removeAttr("readonly");
            selecteUser(this, rowid);//人员选择弹出框选择
            $(this).attr("readonly", "readonly");
        });

    }
    //人员
    function selecteUser(obj, rowid) {
        var url = '/RawMaterial/CarInfo/GetJgcTyUser&keyValue=ProcessFactoryCode/' + $("#ProcessFactoryCode").val()
        var ret = selectClick('win_UserCodeOrName', url, 'Grid', '', '', '', '550px', '450px', function (data) {
            if (data[0] != null) {
                $(obj).val(data[0].UserCode);
                $($(obj).parent()).next().html(data[0].UserName);
                $.ajax({
                    url: "/RawMaterial/FactoryBatchNeedPlan/GetUserPhone?uid=" + data[0].UserId,
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        var dt = JSON.parse(data)
                        $($(obj).parent()).next().next().html(dt.data[0].IDNumber);
                        $($(obj).parent()).next().next().next().html(dt.data[0].MobilePhone);
                    }
                });
            }
        });
    }
    //function selecteUser(obj, rowid) {
    //    var ret = selectClickNew('', '75%', '75%', function (data) {
    //        if (data[0] != null) {
    //            $(obj).val(data[0].UserCode);
    //            $($(obj).parent()).next().html(data[0].UserName);
    //            $.ajax({
    //                url: "/RawMaterial/FactoryBatchNeedPlan/GetUserPhone?uid=" + data[0].UserId,
    //                dataType: "json",
    //                async: false,
    //                success: function (data) {
    //                    var dt = JSON.parse(data)
    //                    $($(obj).parent()).next().next().html(dt.data[0].IDNumber);
    //                    $($(obj).parent()).next().next().next().html(dt.data[0].MobilePhone);
    //                }
    //            });
    //        }
    //    }, false);
    //}
    //选项卡
    function selectTab(v) {
        var id = v.attr('id');
        if (id != "JBXX") {
            if (!$('#form1').formValid()) {
                return false;
            }
        }
        $("#" + id + "").addClass("active").siblings().removeClass("active");
        $("#" + id + "Info").show();
        $("#" + id + "Info").siblings('div').hide();
    }
</script>

<div style="margin-top: 10px;">
    <ul class="nav nav-tabs">
        <li id="JBXX" onclick="selectTab($(this))" class="active"><a href="javascript:void(0);">基本信息</a></li>
        <li id="ItemXX" onclick="selectTab($(this))"><a href="javascript:void(0);">明细信息</a></li>
    </ul>
    <div id="JBXXInfo" style="padding-top: 5px; margin-right: 30px; margin-left: 10px;">
        <form id="form1">
            <input id="ID" name="ID" type="hidden" />
            <table class="form">
                <tr>
                    <th class="formTitle">车辆编号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="CarCode" name="CarCode" type="text" value="@ViewBag.CarCode" disabled="disabled" class="form-control required" />
                    </td>
                    <th class="formTitle">车牌号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="CarCph" name="CarCph" type="text" class="form-control required">
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">车辆型号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="CarXh" name="CarXh" type="text" class="form-control required">
                    </td>
                    <th class="formTitle">GPS定位编码</th>
                    <td class="formValue">
                        <input id="GPSLocationCoding" name="GPSLocationCoding" type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">车辆所属单位<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="SupplierCode" name="SupplierCode" type="hidden">
                            <input id="SupplierName" name="SupplierName" type="text" readonly="readonly" class="form-control required">
                            <span class=" input-group-btn" onclick="selectSupplier();">
                                <a style="padding: 0px;" class=" btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                    <th class="formTitle">车辆使用状态<span class="required1">*</span></th>
                    <td class="formValue">
                        <select id="CarStartName" name="CarStartName" class="form-control required"></select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">年检到期时间<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="CarBxEndData" name="CarBxEndData" type="text" class="form-control required input-wdatepicker" />
                    </td>
                    <th class="formTitle">保险到期时间<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="CarNjEndData" name="CarNjEndData" type="text" class="form-control required input-wdatepicker" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">所属加工厂<span class="required1">*</span></th>
                    <td class="formValue">
                        <div class="input-group input-group-with">
                            <input id="ProcessFactoryCode" name="ProcessFactoryCode" hidden="hidden" />
                            <input id="ProcessFactoryName" name="ProcessFactoryName" type="text" readonly="readonly" class="form-control required" />
                            <span class="input-group-btn" onclick="selectCompanyProcessFactory('1')">
                                <a style="padding:0px;" class=" btn btn-primary">
                                    <i class="fa fa-search"></i>
                                </a>
                            </span>
                        </div>
                    </td>
                    <th></th>
                    <td></td>
                </tr>
                <tr>
                    <th class="formTitle">综合油耗(升)</th>
                    <td class="formValue">
                        <input id="HaoYou" name="HaoYou" type="text" value="0.00" class="form-control number required" />
                    </td>
                    <th class="formTitle">行驶证号<span class="required1">*</span></th>
                    <td class="formValue">
                        <input id="DrivingLicenseNum" name="DrivingLicenseNum" type="text" class="form-control required">
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">保险公司信息</th>
                    <td class="formValue" colspan="3">
                        <textarea id="CompanyInfo" name="CompanyInfo" class="form-control" style="height: 60px; padding-right: 2px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">备注</th>
                    <td class="formValue" colspan="3">
                        <textarea id="Remark" name="Remark" class="form-control" style="height: 60px; padding-right: 2px;"></textarea>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">录入人</th>
                    <td class="formValue">
                        <input id="InsertUserName" name="InsertUserName" type="text" value="@ViewBag.UserName" disabled="disabled" class="form-control" />
                    </td>
                    <th class="formTitle">录入时间</th>
                    <td class="formValue">
                        <input id="InsertTime" name="InsertTime" type="text" value="@(DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss"))" disabled="disabled" class="form-control" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <div id="ItemXXInfo" style="padding-top: 5px; display: none; margin:10px; overflow-x: scroll; ">
        <div class="toolbar">
            <div class="btn-group">
                <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新增</a>
            </div>
            <div class="btn-group">
                <a id="NF-delete" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除</a>
            </div>
        </div>
        <div class="gridPanel" style="margin-top: 1px; ">
            <table id="gridList"></table>
        </div>
    </div>
</div>

