@{
    ViewBag.Title = "订单进度信息";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/js/Comm.js"></script>
<link href="~/Content/js/progress/css/style.css" rel="stylesheet" />
<link href="~/Content/css/Style.css" rel="stylesheet" />
<link href="~/Content/css/font-awesome.css" rel="stylesheet" />
<script src="~/Content/js/progress/js/jquery-progress.js"></script>
<script src="~/Content/js/uploadFile.js"></script>
<script src="~/Content/js/datepicker/WdatePicker.js"></script>
<script src="~/Content/js/highstock.js"></script>


<style type="text/css">
    .SelectFuture {
        background-color: #f7f7c2;
        color: #090909;
    }

    .SelectBG {
        background-color: #cecece;
        color: #090909;
    }
    .aa{
        margin-bottom:30px;
    }
</style>
<script>
    $(function () {
        //设置统计图形的高度
        var screenHeight = $("body").height();
        $(".highchartImg").each(function () {
            $(this).height(screenHeight * 0.4);
        });
        $.LodeMenuBtn("/Production/OrderProgress/Index");
        initControl();
        $('#layout').layout();
        $(".ui-layout-center").css("padding", "10px");
        leftList();
        //加载加工厂订单状态报表
        loadWorkOrderProgress("");
        gridList();
        $(".ui-jqgrid ").css("margin-bottom", "10px");
        $("#HistoryMonth").click(function () {
            WdatePicker({
                readOnly: true,
                dateFmt: 'yyyy-MM ',
                maxDate: '%y-%M-%d',
            });
        });
        //折叠ibox
        $('.collapse-link').click(function () {
            var ibox = $(this).closest('div.ibox');
            var button = $(this).find('i');
            var content = ibox.find('div.ibox-content');
            content.slideToggle(150);
            button.toggleClass('fa-chevron-up').toggleClass('fa-chevron-down');
            ibox.toggleClass('').toggleClass('border-bottom');
        });
    });
    //----------左侧组织机构开始------------------
    function leftList() {
        var $leftgridList = $("#leftgridList");
        $leftgridList.dataGrid({
            url: "/RawMaterial/RawMonthDemandPlan/GetLoginUserAllCompany",
            height: $(window).height() - 46,
            colModel: [
               { label: "组织机构编号", name: "CompanyCode", hidden: true, key: true },
               { label: '组织机构', name: 'CompanyFullName', width: 220, align: 'left', sortable: false, },
               { label: '组织机构类型', name: 'OrgType', hidden: true },
               { label: '地址', name: 'Address', hidden: true },
               { label: '项目id', name: 'ProjectId', hidden: true }
            ],
            treeGrid: true,//启用树型Grid功能
            treeGridModel: 'adjacency',//表示返回数据的读取类型，分为两种：和adjacency
            ExpandColumn: 'CompanyFullName',//树型结构在哪列显示
            rownumbers: false,
            sortname: 'CompanyCode',
            onCellSelect: function (id) {//单击
                var siteCode = getOrganizationalCode(id);
                var CompanyId = $("#leftgridList").jqGrid('getRowData', id);
                var param = $(".search").GetSearchCondition();
                param.SiteCode = siteCode;
                param.ProjectId = CompanyId.ProjectId;
                //重新加载报表数据
                loadWorkOrderProgress(param);
            }
        });
    }
    //----------左侧组织机构结束------------------

    //----------右侧列表数据开始------------------
    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "@Url.Action("GetGridJson", "OrderProgress")",
            height: $(window).height() * 0.68,
            colModel: [
                { label: "主键", name: "ID", hidden: true, key: true },
                { label: "订单编号", name: "OrderCode", width: 120, align: 'left', sortable: false },
                { label: "订单类型", name: "OrderStart", width: 80, align: 'left', sortable: false, cellattr: addStartCellAttr },
                { label: '加工状态', name: 'ProcessingState', hidden: true },
                { label: '订单状态', name: 'ProcessingStateNew', width: 80, align: 'left', sortable: false, formatter: ProcessingStateFM },
                { label: '总量合计(kg)', name: 'WeightTotal', width: 120, align: 'left', sortable: false },
                { label: '开累加工量(kg)', name: 'AccumulativeQuantity', width: 120, align: 'left', sortable: false ,formatter: KllBfb },
                { label: "填报状态", name: "ReportedStatus", hidden: true, width: 80, align: 'left', sortable: false, formatter: CustomState },
                { label: '今日加工量', name: 'XXX', width: 140, align: 'left', sortable: false, formatter: CustomButton },
                { label: '类型编号', name: 'TypeCode', width: 140, align: 'left', sortable: false },
                { label: '类型名称', name: 'TypeName', width: 140, align: 'left', sortable: false },
                { label: "使用部位", name: "UsePart", width: 140, align: 'left', sortable: false },
                { label: '站点编号', name: 'SiteCode', hidden: true },
                { label: '站点名称', name: 'SiteName', width: 140, align: 'left', sortable: false },
                { label: '加工厂编号', name: 'ProcessFactoryCode', hidden: true },
                { label: '加工厂名称', name: 'ProcessFactoryName', width: 140, align: 'left', sortable: false },
                { label: '计划配送时间', name: 'DistributionTime', width: 120, align: 'left', sortable: false, formatter: CustomFmatter },
                //{ label: '配送地址', name: 'DistributionAdd', width: 150, align: 'left', sortable: false },
                //{ label: '紧急程度', name: 'UrgentDegreeNew', width: 120, align: 'left', sortable: false },
                { label: '录入人', name: 'InsertUserCode', hidden: true },
                { label: '录入人', name: 'UserName', width: 100, align: 'left', sortable: false },
                { label: '录入时间', name: 'InsertTime', width: 140, align: 'left', sortable: false }
            ],
            ondblClickRow: function (id) {//双击
                btn_edit();
            },
            gridComplete: function () {
                var ids = $("#gridList").getDataIDs();
                for (var i = 0; i < ids.length; i++) {
                    var rowData = $("#gridList").getRowData(ids[i]);
                    if (rowData.ReportedStatus == '已填报') {
                        $('#A' + rowData.ID).attr('disabled', 'disabled');
                        $('#B' + rowData.ID).attr('disabled', 'disabled');
                        $('#' + ids[i]).find("td").addClass("SelectBG");
                    } else if (rowData.ReportedStatus == "填报中") {
                        $('#' + ids[i]).find("td").addClass("SelectFuture");
                    }
                    else {
                        if (rowData.ProcessingStateNew !== "加工完成" && rowData.ProcessingStateNew != "加工中") {
                            $('#' + ids[i]).find("td").addClass("SelectBG");
                            $('#A' + rowData.ID).attr('disabled', 'disabled');
                            $('#B' + rowData.ID).attr('disabled', 'disabled');
                        }
                        else {
                            $('#' + ids[i]).find("td").addClass("SelectFuture");
                        }
                    }
                }
            },
            pager: "#gridPager",
            sortname: 'InsertTime',
            sortorder: 'desc',
            viewrecords: true,
            shrinkToFit: false,
        });

        function addStartCellAttr(rowId, val, rawObject, cm, rdata) {
            if (rawObject.OrderStart == "加急订单" && rawObject.Examinestatus != "未发起") {
                //return "style='background-color:red;color: #ffffff;'";
                return "style='color:red;'";
            }
            if (rawObject.OrderStart == "问题订单" && rawObject.Examinestatus != "未发起") {//4种（1、加急订单，2、部分取消，3、全部取消，4、正常订单）
                //return "style='background-color:#1ABC9C;color: #ffffff;'";
                return "style='color:#1ABC9C;'";
            }
            if (rawObject.OrderStart == "全部变更" || rawObject.OrderStart == "部分变更") {
                return "style='color:#fb7c03;'";
            }
        }
        function KllBfb(cellvalue, options, rowObject) {
            var tdhtml="";
            var bfb = ((parseFloat(rowObject.AccumulativeQuantity) / parseFloat(rowObject.WeightTotal)) * 100).toFixed(2)
            if (bfb>=100) {
                tdhtml = "<span style='color:green;'>" + cellvalue + "&nbsp;&nbsp;(100%)</span>";
            }
            else {
                tdhtml += "" + cellvalue + "&nbsp;&nbsp;(" + bfb + "%)";
            }
            return tdhtml;
        }
        $("#btn_search").click(function () {
            var param = $(".search").formSerialize();
            var id = $('#leftgridList').jqGrid('getGridParam', 'selrow');
            var CompanyId = $("#leftgridList").jqGrid('getRowData', id);
            param.SiteCode = CompanyId.CompanyCode;
            param.ProjectId = CompanyId.ProjectId;
            $gridList.jqGrid('setGridParam', {
                postData: param,
                page: 1
            }).trigger('reloadGrid');

            //重新加载报表
            loadWorkOrderProgress(param);
        });
        //查询按钮事件
        $("#btn_searchOne").click(function () {
            var postData = $(".search").formSerialize();
            var id = $('#leftgridList').jqGrid('getGridParam', 'selrow');
            var CompanyId = $("#leftgridList").jqGrid('getRowData', id);
            postData.ProjectId = CompanyId.ProjectId;
            for (x in postData) {
                if (x != "ProjectId") {
                    postData[x] = "";
                }
            }
            var ss = $("#SearchType").children('option:selected').val();
            if (ss != "") {
                var cons = $("[name='" + ss + "']");
                $.each(cons, function (i, item) {
                    postData[$(item)[0].id] = $(item).val();
                });
            }
            //重新加载报表
            loadWorkOrderProgress(postData);
        });
        //回车查询
        document.onkeydown = function (e) {
            if (!e) e = window.event;
            if ((e.keyCode || e.which) == 13) {
                $('#btn_search').trigger("click");
            }
        }
        //订单状态
        function ProcessingStateFM(cellValue, options, rowObject) {
            var tdhtml = cellValue;
            if (cellValue == "加工完成") {
                tdhtml = "<span style='color:green;'>" + cellValue + "</span>";
            }
            return tdhtml;
        }
        function CustomButton(cellvalue, options, rowObject) {
            var butHtm = "";
            butHtm += '<a  id=A' + rowObject.ID + ' class="btn btn-primary" onclick="onButClick1(' + options.rowId + ')">填报</a> ';
            butHtm += '<a  id=B' + rowObject.ID + ' class="btn btn-primary" onclick="onButClick2(' + options.rowId + ')">一键填报</a> ';
            return butHtm;
        };

        //日期格式化
        function CustomFmatter(cellvalue, options, rowObject) {
            var formatDa = new Date(cellvalue.replace(/-/g, "/"));
            var time = formatDa.Format("yyyy/MM/dd");
            return time;
        };

        //$("#btn_cl").click(function () {
        //    $("#ProcessFactoryCode").val("");
        //    $("#ProcessFactoryName").val("");
        //    $("#OrderCode").val("");
        //    $("#TypeName").val("");
        //    var param = $(".search").GetSearchCondition();
        //    $gridList.jqGrid('setGridParam', {
        //        postData: param,
        //    }).trigger('reloadGrid');
        //});
    }
    //点击填报
    var onButClick1 = function (rowid) {
        jQuery("#gridList").jqGrid('setSelection', rowid);
        btn_edit();
    }
    //点击一键填报
    var onButClick2 = function (rowid) {
        $.deleteForm({
            prompt: "注：您确定要一键填报吗？",
            loading: "正在提交数据...",
            url: "@Url.Action("SubmitOneKeyForm", "OrderProgress")",
            param: { Id: rowid },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }

    var CustomState = function (cellvalue, options, rowObject) {
        if (cellvalue == "" || cellvalue == null || cellvalue == undefined) {
            cellvalue = "未填报";
        }
        return cellvalue;
    }

    //----------右侧列表数据结束------------------

    //初始化加载查询条件
    function initControl() {
        //加工状态
        $("#ProcessingState").bindSelect({
            url: "@Url.Action("GetDicByCode", "DataDictionary", new { area = "SystemManage", dicCode = "ProcessingState" })",
            id: "DictionaryCode",
            text: "DictionaryText"
        });
    }

    function loadWorkOrderProgress(param) {
        LoadScDdProgress(param);
    }

    //加载生产进度、订单进度展示
    function LoadScDdProgress(param) {
        var SiteName = [];
        var SiteCode = [];
        var SiteWeightTotal = [];
        var PieProgress = [];
        $.ajax({
            url: "@Url.Action("GetProgressForm", "OrderProgress")",
            data: param,
            dataType: "json",
            async: false,
            success: function (data) {
                //生产进度数据
                for (var j = 0; j < 3; j++) {
                    var typename = "";
                    var typeData = [];
                    if (j == 0) {
                        typename = "总量";
                        for (var d = 0; d < data.Item1.length; d++) {
                            SiteName.push(data.Item1[d].SiteName);
                            SiteCode.push(data.Item1[d].SiteCode);
                            typeData.push(data.Item1[d]["SumWeightTotal"]);
                        }
                    }
                    else if (j == 1) {
                        typename = "加工完成量";
                        for (var d = 0; d < data.Item1.length; d++) {
                            typeData.push(data.Item1[d]["JgWcWeightTotal"]);
                        }
                    }
                    else if (j == 2) {
                        typename = "加工未完成量";
                        for (var d = 0; d < data.Item1.length; d++) {
                            typeData.push(data.Item1[d]["JgWwcWeightTotal"]);
                        }
                    }
                    SiteWeightTotal.push({
                        name: typename,
                        data: typeData
                    });
                }
                //订单进度数据
                for (var p = 0; p < data.Item2.length; p++) {
                    PieProgress.push([data.Item2[p].ProgressType, data.Item2[p].JdCount]);
                }
            }
        });

        $('#ScProgress').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '生产进度展示'
            },
            xAxis: {
                categories: SiteName,
                crosshair: true,
                max: 4,
                labels: {//坐标轴标签配置
                    enabled: true,    　　　　　 //是否显示坐标刻度值，若不想显示则设置为false。
                    rotation: -45, 　　　　　　　　　　//x轴刻度标题旋转一定角度
                    formatter: function () {
                        if (isNumber(this.value) == false) {
                            return this.value;//回调函数，返回在刻度位置显示的格式化内容。
                        }
                    },
                },
            },
            //设置滚动条
            scrollbar: {
                enabled: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '订单量(kg)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.2f}kg</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            }, credits: {
                enabled: false//是否显示版权信息
            },
            plotOptions: {
                column: {
                    borderWidth: 0,
                    pointWidth: 20, //柱子之间的距离值
                    events: {
                        click: function (e) {
                            pieClick(SiteCode[e.point.index],1)
                        }
                    }
                }
            },
            series: SiteWeightTotal
        });

        $('#DdProgress').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '订单进度提示占比'
            },
            tooltip: {
                headerFormat: '{series.name}<br>',
                pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
            }, credits: {
                enabled: false//是否显示版权信息
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        distance: '2', //控制饼图外面的线的长短,为负数时文本内容在饼图内部
                        format: '<span style="color:#757575">{point.name}: {point.percentage:.1f}%</span>',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }, events: {
                        click: function (e) {
                            pieClick(e.point.name,2);
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: '订单进度占比',
                data: PieProgress
            }]
        });
    }

    function pieClick(code,type) {
        var param = $(".search").formSerialize();
        if (type==1) {
            param.SiteCode = code;
        }
        else {
            param.ProgressType = code;
        }
        $("#gridList").jqGrid('setGridParam', {
            postData: param,
            page: 1
        }).trigger('reloadGrid');
    }

    function isNumber(val) {
        var regPos = /^\d+(\.\d+)?$/; //非负浮点数
        var regNeg = /^(-(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)))$/; //负浮点数
        if (regPos.test(val) || regNeg.test(val)) {
            return true;
        } else {
            return false;
        }
    }

    function btn_edit() {
        var rowID = $("#gridList").getGridParam("selrow");
        var rowData = $("#gridList").getRowData(rowID);
        if (rowData.ProcessingState != "Processing" && rowData.ReportedStatus == '未填报') {
            $.modalMsg("该订单还不能填报进度!", "warning");
            return;
        }
        if (rowData.ReportedStatus == '已填报') {
            $.modalMsg("该订单已填报,无法进行修改！", "warning");
            return;
        }
        CommonView({
            id: "Form",
            title: "订单进度明细数据",
            url: "@Url.Action("Form", "OrderProgress")",
            isAny: false
        });
    }
    function btn_details() {
        CommonView({
            id: "Details",
            title: "查看订单进度",
            url: "@Url.Action("Details", "OrderProgress")",
            isbtn: false,
            isAny: false,
            isBack: false
        });
    }

    function CommonOpen(id, title, url, isbtn, isBack) {
        $.modalOpen({
            id: id,
            title: title,
            url: url,
            width: "60%",
            height: "550px",
            btn: isbtn ? ['确认', '关闭'] : null,
            callBack: isBack ? function (iframeId) {
                top.frames[iframeId].submitForm();
            } : null
        });
    }

    //条件查询
    //选择加工厂
    function selectCompanyProcessFactory(type) {
        var url = "/RawMaterial/RawMonthDemandPlan/GetCompanyList&keyValue=type/" + type;
        var str = "ProcessFactoryCode=CompanyCode,ProcessFactoryName=CompanyFullName";
        var ret = selectClick('win_TbCompany', url, 'Grid', '', '', str, '550px', '450px', function () {
        });
    }

    //导出excel
    function btn_output() {
        var param = $(".search").GetSearchCondition();
        var id = $('#leftgridList').jqGrid('getGridParam', 'selrow');
        if (id != null && id != "" && id != undefined) {
            var siteCode = getOrganizationalCode(id);
            //重新加载报表数据
            var CompanyId = $("#leftgridList").jqGrid('getRowData', id);
            param.SiteCode = siteCode;
            param.ProjectId = CompanyId.ProjectId;
        }
        var url = "@Url.Action("OutputExcel", "OrderProgress")";
        location.href = url + "?jsonData=" + escape(JSON.stringify(param));
    }

</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west" style="overflow-x:visible">
        <table id="leftgridList"></table>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="topPanel-btn" id="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span>刷新</a>
                </div>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group input-group-search">
                                <select id="SearchType" name="SearchType" class="form-control" style="width: 120px;">
                                    <option value="">全部</option>
                                    <option value="TypeName">类型名称</option>
                                    <option value="OrderCode">订单编号</option>
                                    <option value="ProcessingState">订单状态</option>
                                    @*<option value="ReportedStatus">填报状态</option>*@
                                    <option value="HistoryMonth">历史月份</option>
                                </select>
                                <input id="TypeName" name="TypeName" type="text" class="form-control SearchContent hidSearchContent" placeholder="类型名称" style="width: 140px; margin-left: 5px;">
                                <input id="OrderCode" name="OrderCode" type="text" class="form-control SearchContent hidSearchContent" placeholder="订单编号" style="width: 140px; margin-left: 5px;">
                                <select id="ProcessingState" name="ProcessingState" class="form-control SearchContent hidSearchContent" style="width: 120px;">
                                    <option value="">请选择</option>
                                </select>
                                @*<select id="ReportedStatus" name="ReportedStatus" class="form-control SearchContent hidSearchContent" style="width: 120px;">
                                    <option value="">请选择</option>
                                    <option value="已填报">已填报</option>
                                    <option value="未填报">未填报</option>
                                    <option value="未填报">填报中</option>
                                </select>*@
                                <input id="HistoryMonth" name="HistoryMonth" type="text" class="form-control required input-wdatepicker SearchContent hidSearchContent" placeholder="历史月份" />
                            </div>
                        </td>
                        <td>
                            <div class="btn-search">
                                <a class="btn btn-primary" id="btn_searchOne">查询</a>
                                <a class="btn btn-primary" id="btn_search">结果中搜索</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 id="ReportTitel">报表展示</h5>
                    <div class="ibox-tools" style="float: left;padding-left:5px;">
                        <a class="collapse-link" style="color:#1490fa">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row" style="margin-top: 10px; margin-right:0px;">
                        <div id="ScProgress" style="float:left;width: 55%;" class="highchartImg"></div>
                        <div id="DdProgress" style="float:left; width: 44%;" class="highchartImg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
            <div id="gridPager" style="margin-top:30px;position: fixed; bottom: 0; background-color: #F9F9F9;"></div>
        </div>
    </div>
</div>
